.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.build-success {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circle-animation {
  position: relative;
}

.circle {
  width: 250px;
  height: 250px;
  border: 15px solid #515050; /* Adjust thickness here */
  border-radius: 50%;
  border-top-color: transparent; /* Only for showing rotation */
  animation: rotate 2s linear infinite;
}

.text1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* LoadingScreen.css */

.loading-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 20px solid #71797e;
  border-top: 20px solid transparent;
  animation: spin 2s linear infinite;
  position: relative;
}

.text {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #3b4347;
  font-weight: bold;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

